@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&display=swap');

.first{
    vertical-align: middle;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: inline-block;
  line-height: 50px;
}
.foot{
    background-color: #00897b;
}
.page-footer{
 background-color: #00695c ; 
}
.about-us{
    font-family: monospace;
    color:black;
}
.gragh{
    align-items: center;
}
p{
    font-style: normal;
}

/* body {
    background-image:linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.7)),  url(../online-clinic/Images/pepe1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: fit-content;
    height: fit-content;
    align-items: center;
    background-attachment: fixed;
    text-align: center;
    overflow-x: none;
} */
h1{
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #f18c41;
    font-family: 'Lemon',cursive;
}
#carousel{
    height: 50vh;
}
.img-carousel{
    background-size: cover;
    height: 60vh;
    background-repeat: no-repeat;
    background-position: center;
}

